@use '@/app/styles/colors.scss' as c;
.topic {
	display: flex;
	justify-content: space-between;
	border: 1px solid c.$border;
	// border: 2px solid red;
	padding: 20px;
}

.delete {
	padding: 10px 15px;
	background-color: c.$hover;
	width: min-content;
	height: min-content;
}

// .btn-container {
// 	display: flex;
// 	gap: 5px;
// }
