@use '@/app/styles/colors.scss' as c;
.topic {
	display: flex;
	justify-content: space-between;
	border: 1px solid c.$border;
	padding: 20px;
}

.delete {
	padding: 10px 15px;
	background-color: c.$hover;
	width: min-content;
	height: min-content;
}

.category-tab {
	cursor: pointer;
	color: c.$grey-text;
	padding: 0 12px;
}

.active {
	color: c.$primary;
	border-bottom: 5px solid c.$primary;
}
