@use '@/app/styles/colors.scss' as c;
.topic {
	display: flex;
	justify-content: space-between;
	border: 1px solid c.$border;
	padding: 1.25rem;
	&__name {
		font-weight: 500;
	}
}

.delete {
	cursor: pointer;
	padding: 0.6rem 1rem;
	background-color: c.$hover;
	width: min-content;
	height: min-content;
}

.category-tab {
	cursor: pointer;
	color: c.$grey-text;
	padding: 0 0.75rem;
}

.active {
	color: c.$primary;
	border-bottom: 5px solid c.$primary;
}

.card {
	margin: 0 10%;
	border: 1px solid c.$border;
	&__header {
		background-color: c.$background-light;
		border: 2px solid c.$border;
	}
	padding-bottom: 4rem;
}
