@use '@/app/styles/colors.scss' as c;

.tag {
	border-radius: 8px;
	padding: 4px 8px;
	font-weight: 500;

	line-height: 1;
	min-width: fit-content;
	display: inline-block;

	width: fit-content;
	height: min-content;
	border: 1px solid white;
	font-size: 0.875rem;

	// &:not(:last-child) {
	// 	// margin-right: v.$margin-1;
	// }
}
