@use '@/app/styles/colors.scss' as c;

$container-width-expanded: 250px;
$container-width-collapsed: 80px;

.container {
	width: $container-width-expanded;
	height: 100vh;
	border-right: 2px solid c.$border;
	position: relative;
	padding-top: 1.25rem;
	color: c.$grey-text;
	font-weight: 600;
}

.expanded {
	padding-left: 0.6rem;
}

.collapsed {
	width: $container-width-collapsed;
}

.logo {
	padding: 0.4rem 1.25rem !important;
	margin-bottom: 1.5rem;
	&__name {
		color: c.$primary;
		font-size: 1.5rem;
		font-weight: 700;
		padding-left: 0.6rem;
	}
	svg {
		height: 40px;
		width: auto;
	}
}

.logo:hover {
	cursor: pointer;
	background-color: c.$hover;
}

.navigation {
	margin-right: 1.25rem;
}

.nav-item {
	padding: 1rem 1.5rem;
	&__active {
		background-color: c.$primary-light;
		color: c.$primary;
	}
}

.nav-item:hover {
	cursor: pointer;
	background-color: c.$hover;
}

.logout {
	position: absolute;
	bottom: 0px;
	width: 85%;
}

.drawer-switch {
	color: c.$primary;
	position: absolute;
	top: 47vh;
	z-index: 500;
	font-size: 2rem;
	right: 0px;
	height: 60px;
	border-left: 1px solid c.$primary;
	border-top: 1px solid c.$primary;
	border-bottom: 1px solid c.$primary;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: c.$primary-light;
	cursor: pointer;
}
