@use '@/app/styles/colors.scss' as c;

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: 0;
	max-height: 50px;
	height: min-content;
	box-sizing: border-box;

	&-primary {
		@extend .container;
		color: white;
		background-color: c.$primary;
	}

	&-secondary {
		@extend .container;
		background-color: transparent;
		border: 1px solid c.$border;
	}
}

.left-icon {
	margin-right: 10px;
}
