@use '@/app/styles/colors.scss' as c;

.header {
	border-bottom: 1px solid c.$border;
	cursor: pointer;
}

.container {
	display: flex;
}

.editor {
	flex: 3;
}

.generate {
	flex: 1;
	border-left: 1px solid c.$border;
	height: 100vh;
	&__btn-container {
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin: 1rem 0;
	}
}

.blog-title {
	border-bottom: 1px solid c.$border;
}

.choose-tone {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
	select {
		padding: 0.5rem;
	}
}
